---
import Layout from "../layouts/Layout.astro"
import Hero from "../sections/Hero.astro"
import TableOfContents from "../sections/TableOfContents.astro"
import Testimonials from "../sections/Testimonials.astro"
import Footer from "../sections/Footer.astro"
---

<Layout title="Libro para Aprender Git y GitHub de midudev">
  <main class="dark:bg-gray-900">
    <Hero />
    <Testimonials />
    <TableOfContents />
    <Footer />
  </main>
</Layout>
