---
import Layout from "../layouts/Layout.astro"
import Hero from "../sections/Hero.astro"
import Testimonials from "../sections/Testimonials.astro"
---

<Layout title="Libro para Aprender Git y GitHub de midudev">
  <main class="bg-gray-900">
    <Hero />
    <Testimonials />
  </main>
</Layout>
