---
  const { initials } = Astro.props;
---
<div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden rounded-full bg-gray-600">
  <span class="font-medium text-gray-300">
    {initials}
  </span>
</div>