---
import AmazonLogo from "../components/AmazonLogo.astro"
import Book from "../components/Book.astro"
import BuyButton from "../components/BuyButton.astro"
---

<section class="pt-12 px-2 md:pt-24 md:pb-24 lg:px-24">
  <div
    class="grid max-w-screen-xl px-4 mx-auto lg:gap-8 xl:gap-0 lg:py-16 sm:grid-cols-12"
  >
    <div class="order-0 sm:mr-auto place-self-start sm:place-self-center sm:col-span-7">
      <span class="flex text-white items-start gap-x-4">
        <AmazonLogo />
        <span class="rounded bg-yellow-500 text-black text-xs py-0.5 px-1">El n.췈 1 m치s vendido</span>
      </span>
      <h1
        class="max-w-2xl mt-4 mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white text-balance"
      >
        El mejor libro para Aprender Git y GitHub
      </h1>
      <p
        class="max-w-2xl mb-6 font-light text-black/90 dark:text-white/90 lg:mb-8 md:text-lg lg:text-xl text-pretty"
      >
        Hoy en d칤a es imposible imaginar el desarrollo de software sin Git.
        Este libro te ense침ar치 desde lo m치s b치sico hasta estrategias
        avanzadas para trabajar en equipo.
      </p>
      <p
        class="max-w-2xl mb-6 font-light lg:mb-8 md:text-lg lg:text-xl text-yellow-700 dark:text-yellow-200 text-balance"
      >
        M치s de 300 p치ginas de contenido, con ejemplos e ilustraciones.
      </p>
      <footer class="flex flex-col xl:flex-row gap-4 mt-4">
        <a
          href="https://leanpub.com/aprendiendo-git"
          target="_blank"
          rel="noopener noreferrer"
          class="text-center inline-flex gap-2 items-center bg-blue-500 active:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg border-2 border-blue-500 transition duration-200 ease-in-out hover:scale-105 justify-center"
        >
          Comprar versi칩n digital (eBook)
        </a>

        <!-- 游댠 server islands en Astro -->
        <BuyButton server:defer />
        

    </footer>
    </div>

    <section class="order-1 scale-50 md:scale-75 lg:scale-90 lg:mt-0 sm:col-span-5 sm:flex justify-center items-center">
      <Book />
    </section>
  </div>
</section>