---
import BuyButton from "../components/BuyButton.astro"
---

<section class="bg-white dark:bg-gray-900">
  <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24">
    <div class="text-center">
      <h2
        class="text-3xl font-extrabold leading-tight tracking-tight text-gray-900 sm:text-4xl dark:text-white"
      >
        Tabla de contenido
      </h2>
    </div>

    <div
      class="max-w-3xl p-5 mx-auto mt-8 space-y-5 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="pb-5 border-b border-gray-200 dark:border-gray-700">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Capítulo 1: Un poco de teoría
        </h3>
        <p
          class="mt-1 text-base font-normal text-black/70 dark:text-white/70 text-balance"
        >
          ¿Qué es Git y por qué es tan importante? Historia, fundamentos,
          conceptos básicos y diferencias con GitHub.
        </p>
      </div>

      <div class="pb-5 border-b border-gray-200 dark:border-gray-700">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Capítulo 2: Instalando y Configurando Git
        </h3>
        <p
          class="mt-1 text-base font-normal text-black/70 dark:text-white/70 text-balance"
        >
          Instalación de la línea de comandos en diferentes sistemas
          operativos, configuración más importante para el uso de Git.
        </p>
      </div>

      <div class="pb-5 border-b border-gray-200 dark:border-gray-700">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Capítulo 3: Trabajando con Git de forma local
        </h3>
        <p
          class="mt-1 text-base font-normal text-black/70 dark:text-white/70 text-balance"
        >
          ¿Cómo inicio un nuevo proyecto de Git en local? Trabajando en nuestro
          directorio de trabajo, área de staging, commits, deshacer cambios,
          ignorar archivos, etc.
        </p>
      </div>

      <div class="pb-5 border-b border-gray-200 dark:border-gray-700">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Capítulo 4: Ramas en Git
        </h3>
        <p
          class="mt-1 text-base font-normal text-black/70 dark:text-white/70 text-balance"
        >
          Hablamos del concepto de ramas. Cómo crearlas, fusionarlas, trabajar
          con ellas, resolver conflictos e incluso borrarlas.
        </p>
      </div>

      <div class="pb-5 border-b border-gray-200 dark:border-gray-700">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Capítulo 5: Rebase
        </h3>
        <p
          class="mt-1 text-base font-normal text-black/70 dark:text-white/70 text-balance"
        >
          Uno de los conceptos más avanzados y problemáticos de Git explicado
          paso a paso. ¿Para qué sirve? ¿Qué soluciona y qué peligros tiene? Te
          explico cuándo usarlo y cómo evitar problemas con él.
        </p>
      </div>

      <div class="">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Capítulo 6: Trabajando con Git de forma remota
        </h3>
        <p
          class="mt-1 text-base font-normal text-black/70 dark:text-white/70 text-balance"
        >
          Usando GitHub como repositorio remoto. ¿Qué es GitHub? ¿Cómo usarlo?
          ¿Cómo configurarlo? Diferencia entre repositorio local y remoto.
          Sincronizar ramas, enlace entre repositorios, etc.
        </p>
      </div>

      <div class="">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Capítulo 7: Configurando conexión SSH con GitHub
        </h3>
        <p
          class="mt-1 text-base font-normal text-black/70 dark:text-white/70 text-balance"
        >
          Aprende a usar GitHub desde tu terminal usando SSH. ¿Qué es SSH? ¿Cómo
          configurarlo? ¿Cómo usarlo? Todo paso a paso.
        </p>
      </div>

      <div class="">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Capítulo 8: Cómo contribuir a un proyecto de código abierto
        </h3>
        <p
          class="mt-1 text-base font-normal text-black/70 dark:text-white/70 text-balance"
        >
          Aprende a participar en proyectos de GitHub que permiten
          colaboraciones. Descubre las mejores prácticas, consejos y trucos para
          contribuir de manera efectiva.
        </p>
      </div>

      <div class="">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Capítulo 9: Flujo de trabajo y estrategias de ramas en Git
        </h3>
        <p
          class="mt-1 text-base font-normal text-black/70 dark:text-white/70 text-balance"
        >
          ¿Cómo se trabaja en equipo en un proyecto colaborativo en Git? Más
          allá de Git Flow, descubre otras estrategias para trabajar en equipo
          como Trunk Based Development y Ship/Show/Ask.
        </p>
      </div>

      <div class="">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Capítulo 10: Buenas prácticas al trabajar con Git
        </h3>
        <p
          class="mt-1 text-base font-normal text-black/70 dark:text-white/70 text-balance"
        >
          Escribe buenos commits, crea ramas fáciles de mantener, revisa tu
          historial de commits, aprende a revisar peticiones de commits y más.
        </p>
      </div>

      <div class="">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Capítulo 11: Stash, el almacén temporal de cambios de Git
        </h3>
        <p
          class="mt-1 text-base font-normal text-black/70 dark:text-white/70 text-balance"
        >
          Entiende cómo puedes almacenar y recuperar cambios en Git usando git
          stash.
        </p>
      </div>

      <div class="">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Capítulo 12: Trucos de Git
        </h3>
        <p
          class="mt-1 text-base font-normal text-black/70 dark:text-white/70 text-balance"
        >
          Saca el máximo partido a Git con trucos y consejos que te ayudan en tu
          día a día.
        </p>
      </div>

      <div class="">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Capítulo 13: Errores comunes en Git y sus soluciones
        </h3>
        <p
          class="mt-1 text-base font-normal text-black/70 dark:text-white/70 text-balance"
        >
          Marca la diferencia entendiendo y solucionando los problemas que más
          ocurren al trabajar en proyectos de Git.
        </p>
      </div>
    </div>

    <div class="mt-8 text-center">
      <BuyButton server:defer />
    </div>
  </div>
</section>
