---
import Testimonial from "../components/Testimonial.astro";
---

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-md text-center">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">Reseñas del libro</h2>
          <p class="mb-8 font-light text-gray-500 lg:mb-16 dark:text-gray-400 sm:text-xl">Esto es lo que dicen los lectores del libro de Aprendiendo Git y GitHub</p>
      </div> 
      <div class="grid gap-8 lg:grid-cols-3">
          <div class="space-y-6">
            <Testimonial
              title=" Excelente libro para aprender todas las bases de Git y GitHub"
              quote="Me gusto bastante que aunque ya tengas conocimientos sobre estas herramientas, refuerza y te da nuevos conocimientos desde que comienzas a leerlo, tal como, que pasaba antes y despues de la llegada de Git 👁️ 100% recomendado"
              author="Jossué Abdul"
              authorInfo="Comprado en Amazon México"
              avatarImage="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/dee5e52f-08ac-4896-acde-9c88268cdd32._CR0,0,472,472_SX48_.jpg"
            />
            <Testimonial
            title="Es muy útil y práctico para sentirte cómodo con Git y GitHub"
            quote="Para mí, a cualquier persona que esté trabajando con Git y GitHub le resultará de utilidad conocer y practicar a menudo todo lo que enseña Miguel Ángel en su libro. Además, es una tecnología que casi seguro vas a utilizar en tu trabajo si eres programador y cuanto mejor la conozcas y más cómodo te sientas con ella, más vas a disfrutar en el trabajo."
            author="Saúl"
            authorInfo="Comprado en Amazon"
            avatarInitials="S"
          />
          <Testimonial
        title="Excelente libro"
        quote="Es un grandioso libro de un excelente programador con mucha experiencia"
        author="Bianca Gutiérrez"
        authorInfo="Comprado en Amazon México"
        avatarImage="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/d895e3ad-e23c-49ec-b4b0-8a424db08067._CR0,0,828,828_SX48_.jpg"
      />
          </div>
          <div class="space-y-6">
            <Testimonial
              title="Muy recomendable"
              quote="Uso git y github hace casi una década y no tenia idea del conjunto de herramientas que estaba dejando por fuera. Este libro ha abierto una puerta a todo un mundo que desconocía, detalla los conceptos y estrategias."
              author="Martin Nicolás Paneblanco"
              authorInfo="Revisado en Estados Unidos"
              avatarImage="https://images-eu.ssl-images-amazon.com/images/S/amazon-avatars-global/d66963c5-ad8c-48dd-92b7-0ecc81df6987._CR0,0,500,500_SX48_.jpg"
            />
            <Testimonial
              title="Excelente ayuda para manejar Git"
              quote="Es una guía muy completa para aprender a dominar Git desde comando básicos hasta operaciones más completas que involucran trabajo en equipo y remoto. Absolutamente recomendable."
              author="Damian Ruiz"
              authorInfo="Revisado en Canadá"
              avatarImage="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/889790ab-35e5-4aef-8ed5-5843531926cd._CR0,0,828,828_SX48_.jpg"
            />
          <Testimonial
          title="Gran libro para reforzar y aprender cosas nuevas"
          quote="Explicación de git y algo de github muy al estilo de midudev, ayuda mucho a entender cosas que personalmente leyendolo desde la documentación oficial de git se hace muy poco entendible, ejemplos muy ilustrativos."
          author="Luis Aguilar"
          authorInfo="Revisado en Estados Unidos"
          avatarImage="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/f2ee89f7-015c-4da8-8da6-4c24eb6813f2._CR63,0,373,373_SX48_.jpg"
        />
          </div>
          <div class="space-y-6">
            <Testimonial
            title="Buena introducción a Git"
            quote="El libro cubre desde el concepto del control de versiones y la instalación de un cliente Git hasta estrategias para gestionar los repositorios y trucos. Explica las diferencias entre distintos conceptos como rebase y merge. Sin lugar a dudas, una manera amena, sencilla y progresiva de controlar esta herramienta."
            author="Esteban Saiz Martinez"
            authorInfo="Comprado en Amazon España"
            avatarImage="https://images-eu.ssl-images-amazon.com/images/S/amazon-avatars-global/fc4b5435-e7b7-4c02-a45f-4078805525a0._CR4,0,287,287_SX48_.png"
          />
          <Testimonial
          title="Ideal para aprender y profundizar"
          quote="El libro no sólo se nota que está hecho con cariño, sino que además me sirvió para profundizar en mis conocimientos de git. Os lo recomiendo"
          author="elchiconube"
          authorInfo="Comprado en Amazon España"
          avatarImage="https://images-eu.ssl-images-amazon.com/images/S/amazon-avatars-global/4f6fb2ab-6195-49a2-961a-4c6d3ab9c55b._CR0,0,500,500_SX48_.jpg"
        />
        <Testimonial
          title="Una Guía Indispensable para Todo Desarrollador"
          quote="Lo que más valoro es la manera en que el libro está estructurado, ofreciendo desde los fundamentos hasta consejos más avanzados, lo cual lo hace perfecto tanto para principiantes como para usuarios experimentados. La sección de buenas prácticas y los trucos para usar comandos diariamente son particularmente útiles. "
          author="Lulian Farcas"
          authorInfo="Comprado en Amazon"
          avatarInitials="LG"
        />
        

          </div>
      </div>   
  </div>
</section>
