---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="El mejor libro para Aprender Git y GitHub, por midudev"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="og:title" content={title} />
    <meta
      name="og:description"
      content="El mejor libro para Aprender Git y GitHub, por midudev"
    />
    <meta name="og:image" content="https://aprendiendogit.com/og.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@midudev" />
    <meta name="twitter:creator" content="@midudev" />
    <meta name="twitter:title" content={title} />
    <meta
      name="twitter:description"
      content="El mejor libro para Aprender Git y GitHub, por midudev"
    />
    <meta name="twitter:image" content="https://aprendiendogit.com/og.png" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  html {
    font-family: system-ui, sans-serif;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
